
body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(186, 212, 178);
    padding-left: 70px;
    padding-right: 70px;
}



.headline {
    display: flex;
     color: red;
     
     
}

.logo{
    display: flex;
width:5%;
height: 5%;
}

.h3{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: aqua;
}

.settingscon{
    display: flex;
    background-color: rgb(250, 250, 250);
    justify-content: flex-end;

    
}

.settings {
    display: flex;
    width: 10%;
    height: 5%;
}

.mleft{
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.span{
    text-decoration: none;
}

