
body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(186, 212, 178);
    padding-left: 100px;
    padding-right: 100px;
}



.headline {
    display: flex;
     color: red;
     font-size: 100%;
     justify-content: flex-end;
     
     
}

.logo{
    display: flex;
height: 70px;
justify-content: flex-start;

}

.h3{
    text-decoration: none;
    margin-right: 300px;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: aqua;
    width: 100%;
}

.settingscon{
    display: flex;
    background-color: rgb(250, 250, 250);
    justify-content: flex-end;

    
}
.settinghref{
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
}

.settings {
    display: flex;
    width: 10%;
    height: 5%;
}

.mleft{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    ;
}

.span{
    text-decoration: none;
}

